section.footer 
  .footer-wapper.bg-white
    .container 
      .footer-list
        .footer-list-logo.d-flex.justify-content-center 
          img(src="./assets/images/logo.svg" alt="" class="")
        .footer-list-content.text-center
          p.content-desciption GiantEbook – Kho tàng sách mở. Website luôn cập nhật những cuốn sách, các ấn phẩm thuộc nhiều thể loại khác nhau như văn học nghệ thuật, kinh tế, văn hóa – xã hội, chính trị pháp luật, khoa học – công nghệ, giáo dục, hồi ký, sách truyện, sách thiếu nhi, sách tôn giáo, sách tâm lý – kỹ năng sống,… một cách nhanh chóng. Hỗ trợ bạn đọc sử dụng trên mọi thiết bị công nghệ như di động, máy tính bảng, laptop,… 
          p.content-desciption Nội dung trên GiantEbook (GEB) được mọi người trong cộng đồng đóng góp. Ban Quản trị GEB không chịu trách nhiệm về nội dung được đăng tải.
          p.content-desciption Các đường dẫn từ GEB tới trang web thứ ba không đồng nghĩa có được sự chấp thuận của Ban Quản trị GEB.
          p.content-desciption Các vấn đề bản quyền vui lòng liên hệ 
            a(href="#" class="link-problem text-uppercase") tại đây 

section.footer-copyright
  .footer-endbox.d-flex.justify-content-center
    span Copyright © 2021 Giantebook.net, All rights reserved.    