header.header-reading 
  .header-wrapper.d-flex.align-items-center
    .header-btn-sidebar 
      img(src="./assets/icons/icon-list-video-blue.svg", alt="" width="20" style="transform: translateY(1px);")
    .header-logo 
      img(src="./assets/images/logo-footer-mobile.svg", alt="")
    h2.header-current-book Tư Duy Phản Biện - #[span tác giả: Zoe McKey] 
    
    .header-control.d-flex.align-items-center
      .control-item.language 
        img(src="./assets/icons/icon-font-blue.svg", alt=""  width="20" style="transform: translateY(1px);")
      .control-item.save 
        img(src="./assets/icons/icon-save-blue.svg", alt="" width="15")
      .control-item.setting 
        img(src="./assets/icons/icon-setting-blue.svg", alt=""  width="18")
      .control-item.size 
        img(src="./assets/icons/icon-size-blue.svg", alt=""  width="16")