doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Giant Ebook

    block head
    include style.pug

  body.reading-wrapper
    include header-reading.pug
    include ../components/reading-category.pug
    .body-reading
      block pages

    block scripts
    include script.pug

