//- Bootstrap CSS
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

//- OwlCarousel CSS
link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css")

//- Plyr CSS
link(rel="stylesheet", type="text/css" href="https://cdn.jsdelivr.net/npm/plyr@3.6.4/dist/plyr.css")

//- Select 2 CSS
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css")

//- RangeSlider CSS
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/rangeslider-js@3.2.5/dist/styles.min.css")

//- Style CSS
link(rel="stylesheet" type="text/css" href="./assets/css/main.css")