-
  const dataListVideo = [
    {
      title: `Let's Get Started!`,
      link: '#',
      des: 'Blair T.Spalding',
      image: './assets/images/image-video-detail-1.png',
      view: '188 N Số lượt xem',
      time: '02:23:32',
    },
    {
      title: 'illustrated Lettering: Drawing Intricate Floral Forms Forms...',
      link: '#',
      des: 'Blair T.Spalding',
      image: './assets/images/image-video-detail-2.png',
      view: '188 N Số lượt xem',
      time: '02:23:32',
    },
    {
      title: 'Mình đạt điểm tuyệt đối tốt nghiệp thạc sĩ và tiến sĩ như thế nào? Phương pháp học tốt và ...',
      link: '#',
      des: 'The Present Writer',
      image: './assets/images/image-video-detail-3.png',
      view: '188 N Số lượt xem',
      time: '02:23:32',
    },
    {
      title: 'Tạo động lực, quản lý. thời gian và cân bằng cuộc sống ',
      link: '#',
      des: 'The Hanoi Chamomile',
      image: './assets/images/image-video-detail-4.png',
      view: '188 N Số lượt xem',
      time: '02:23:32',
    },
  ]

  const dataListVideoMobile = [
    {
      title: `Let's Get Started!`,
      link: '#',
      des: 'Blair T.Spalding',
      image: './assets/images/image-video-detail-1.png',
      view: '188 N Số lượt xem',
      time: '02:23:32',
      isMobile: true,
    },
    {
      title: 'illustrated Lettering: Drawing Intricate Floral Forms Forms...',
      link: '#',
      des: 'Blair T.Spalding',
      image: './assets/images/image-video-detail-2.png',
      view: '188 N Số lượt xem',
      time: '02:23:32',
      isMobile: true,
    },
    {
      title: 'Mình đạt điểm tuyệt đối tốt nghiệp thạc sĩ và tiến sĩ như thế nào? Phương pháp học tốt và ...',
      link: '#',
      des: 'The Present Writer',
      image: './assets/images/image-video-detail-3.png',
      view: '188 N Số lượt xem',
      time: '02:23:32',
      isMobile: true,
    },
    {
      title: 'Tạo động lực, quản lý. thời gian và cân bằng cuộc sống ',
      link: '#',
      des: 'The Hanoi Chamomile',
      image: './assets/images/image-video-detail-4.png',
      view: '188 N Số lượt xem',
      time: '02:23:32',
      isMobile: true,
    },
  ]