-
  const dataChildAccountSidebar = [
    {
      title: 'Ebook bạn đã đọc',
      link: '#',
      child: [],
      icon: 'save',
    },
    {
      title: 'Audio book bạn đã nghe',
      link: '#',
      child: [],
      icon: 'audio',
    },
    {
      title: 'Video bạn đã xem',
      link: '#',
      child: [],
      icon: 'video',
    },
  ]
  const dataAccountSidebar = [
    {
      title: 'Tủ sách yêu thích của bạn',
      link: '#',
      child: [],
      icon: 'heart',
    },
    {
      title: 'Sách bạn đã đọc',
      link: '#',
      child: dataChildAccountSidebar,
      icon: 'book-mark',
    },
    {
      title: 'Sách bạn đã xem',
      link: '#',
      child: [],
      icon: 'book-seen',
    },
    {
      title: 'Đăng xuất',
      link: '#',
      child: [],
      icon: 'logout',
    },
  ]