-
  const dataListBookVertical = [
    {
      link: '#',
      typeBook: 'book-detail-vertical',
      isVertical: true,
      title: 'Hành trình về phương Đông',
      image: './assets/images/image-sample-book-1.png',
      type: 'Blair T.Spalding',
    },
    {
      link: '#',
      typeBook: 'book-detail-vertical',
      isVertical: true,
      title: 'Dám bị ghét',
      image: './assets/images/image-sample-book-2.png',
      type: 'Kishimi Ichiro, Koga Fumitake',
    },
    {
      link: '#',
      typeBook: 'book-detail-vertical',
      isVertical: true,
      title: 'Sách - Cẩm nang cấu trúc tiếng anh',
      image: './assets/images/image-sample-book-3.png',
      type: 'Trang Anh',
    },
    {
      link: '#',
      typeBook: 'book-detail-vertical',
      isVertical: true,
      title: 'Thuật Quản Lý Thời Gian',
      image: './assets/images/image-sample-book-4.png',
      type: 'Brian Tracy',
    },
    {
      link: '#',
      typeBook: 'book-detail-vertical',
      isVertical: true,
      title: 'Kinh Doanh Như Một Cuộc Chơi',
      image: './assets/images/image-sample-book-5.png',
      type: 'Richard Branson',
    },
  ]

  const dataListBookHorizontal = [
    {
      link: '#',
      typeBook: 'book-detail-horizontal',
      author: 'Tác giả: Nguyễn Nhật Ánh',
      title: 'Hành trình về phương Đông',
      type: 'Thể loại: Truyện ngắn',
      view: 'Lượt xem: 324,323',
      image: './assets/images/image-sample-book-1.png',
    },
    {
      link: '#',
      typeBook: 'book-detail-horizontal',
      author: 'Tác giả: Nguyễn Nhật Ánh',
      title: 'Hành trình về phương Đông',
      type: 'Thể loại: Truyện ngắn',
      view: 'Lượt xem: 324,323',
      title: 'Dám bị ghét',
      image: './assets/images/image-sample-book-2.png',
    },
    {
      link: '#',
      typeBook: 'book-detail-horizontal',
      author: 'Tác giả: Nguyễn Nhật Ánh',
      title: 'Hành trình về phương Đông',
      type: 'Thể loại: Truyện ngắn',
      view: 'Lượt xem: 324,323',
      title: 'Sách - Cẩm nang cấu trúc tiếng anh',
      image: './assets/images/image-sample-book-3.png',
    },
    {
      link: '#',
      typeBook: 'book-detail-horizontal',
      author: 'Tác giả: Nguyễn Nhật Ánh',
      title: 'Hành trình về phương Đông',
      type: 'Thể loại: Truyện ngắn',
      view: 'Lượt xem: 324,323',
      title: 'Thuật Quản Lý Thời Gian',
      image: './assets/images/image-sample-book-4.png',
    },
    {
      link: '#',
      typeBook: 'book-detail-horizontal',
      author: 'Tác giả: Nguyễn Nhật Ánh',
      title: 'Hành trình về phương Đông',
      type: 'Thể loại: Truyện ngắn',
      view: 'Lượt xem: 324,323',
      title: 'Kinh Doanh Như Một Cuộc Chơi',
      image: './assets/images/image-sample-book-5.png',
    },
  ]

  const dataListBookVertical2 = [
    {
      link: '#',
      typeBook: 'book-detail-vertical-2',
      isVertical: true,
      author: 'Tác giả: Nguyễn Nhật Ánh',
      title: 'Hành trình về phương Đông',
      type: 'Thể loại: Truyện ngắn',
      view: 'Lượt xem: 324,323',
      image: './assets/images/image-sample-book-1.png',
    },
    {
      link: '#',
      typeBook: 'book-detail-vertical-2',
      isVertical: true,
      author: 'Tác giả: Nguyễn Nhật Ánh',
      title: 'Hành trình về phương Đông',
      type: 'Thể loại: Truyện ngắn',
      view: 'Lượt xem: 324,323',
      title: 'Dám bị ghét',
      image: './assets/images/image-sample-book-2.png',
    },
    {
      link: '#',
      typeBook: 'book-detail-vertical-2',
      isVertical: true,
      author: 'Tác giả: Nguyễn Nhật Ánh',
      title: 'Hành trình về phương Đông',
      type: 'Thể loại: Truyện ngắn',
      view: 'Lượt xem: 324,323',
      title: 'Sách - Cẩm nang cấu trúc tiếng anh',
      image: './assets/images/image-sample-book-3.png',
    },
    {
      link: '#',
      typeBook: 'book-detail-vertical-2',
      isVertical: true,
      author: 'Tác giả: Nguyễn Nhật Ánh',
      title: 'Hành trình về phương Đông',
      type: 'Thể loại: Truyện ngắn',
      view: 'Lượt xem: 324,323',
      title: 'Thuật Quản Lý Thời Gian',
      image: './assets/images/image-sample-book-4.png',
    },
    {
      link: '#',
      typeBook: 'book-detail-vertical-2',
      isVertical: true,
      author: 'Tác giả: Nguyễn Nhật Ánh',
      title: 'Hành trình về phương Đông',
      type: 'Thể loại: Truyện ngắn',
      view: 'Lượt xem: 324,323',
      title: 'Kinh Doanh Như Một Cuộc Chơi',
      image: './assets/images/image-sample-book-5.png',
    },
  ]

  const dataListBookMobile = [
    {
      link: '#',
      typeBook: 'book-detail-mb',
      author: 'Nguyễn Nhật Ánh',
      title: 'Hành trình về phương Đông',
      type: 'Truyện ngắn',
      image: './assets/images/image-sample-book-1.png',
      isVertical: true,
      isMobile: true,
    },
    {
      link: '#',
      typeBook: 'book-detail-mb',
      author: 'Nguyễn Nhật Ánh',
      title: 'Hành trình về phương Đông',
      type: 'Truyện ngắn',
      title: 'Dám bị ghét',
      isVertical: true,
      isMobile: true,
      image: './assets/images/image-sample-book-2.png',
    },
    {
      link: '#',
      typeBook: 'book-detail-mb',
      author: 'Nguyễn Nhật Ánh',
      title: 'Hành trình về phương Đông',
      type: 'Truyện ngắn',
      title: 'Sách - Cẩm nang cấu trúc tiếng anh',
      isVertical: true,
      isMobile: true,
      image: './assets/images/image-sample-book-3.png',
    },
    {
      link: '#',
      typeBook: 'book-detail-mb',
      author: 'Nguyễn Nhật Ánh',
      title: 'Hành trình về phương Đông',
      type: 'Truyện ngắn',
      title: 'Thuật Quản Lý Thời Gian',
      isVertical: true,
      isMobile: true,
      image: './assets/images/image-sample-book-4.png',
    },
    {
      link: '#',
      typeBook: 'book-detail-mb',
      author: 'Nguyễn Nhật Ánh',
      title: 'Hành trình về phương Đông',
      type: 'Truyện ngắn',
      title: 'Kinh Doanh Như Một Cuộc Chơi',
      isVertical: true,
      isMobile: true,
      image: './assets/images/image-sample-book-5.png',
    },
    {
      link: '#',
      typeBook: 'book-detail-mb',
      author: 'Nguyễn Nhật Ánh',
      title: 'Hành trình về phương Đông',
      type: 'Truyện ngắn',
      image: './assets/images/image-sample-book-1.png',
      isVertical: true,
      isMobile: true,
    },
  ]