-
  const dataReadingChild = [
    {
      title: 'Quản lý thời gian hiệu quả',
      link: '#',
      child: [],
    },
    {
      title: 'Ra quyết định sáng suốt',
      link: '#',
      child: [],
    },
  ]
  const dataCategoryReading = [
    {
      title: 'Bìa sách',
      link: '#',
      child: [],
    },
    {
      title: 'Giới thiệu',
      link: '#',
      child: [],
    },
    {
      title: 'Bạn thông minh hơn bản tưởng',
      link: '#',
      child: [],
    },
    {
      title: 'Những cơ hội tuyệt vời',
      link: '#',
      child: [],
    },
    {
      title: 'Ước mơ cho đáng ước mơ',
      link: '#',
      child: [],
    },
    {
      title: 'Lời phê bình khôn khéo',
      link: '#',
      child: dataReadingChild,
    },
    {
      title: 'Kỹ năng kiểm soát bản thân khôn ngoan',
      link: '#',
      child: [],
    },
    {
      title: 'Lời kết',
      link: '#',
      child: [],
    },
    {
      title: 'Tham khảo',
      link: '#',
      child: [],
    },
  ]