-
  const dataChild = [
    {
      title: 'Văn Học Việt Nam',
      link: '#',
      child: [],
    },
    {
      title: 'Truyện Ma - Truyện Kinh Dị',
      link: '#',
      child: [],
    },
    {
      title: 'Hồi Ký - Tuỳ Bút',
      link: '#',
      child: [],
    },
    {
      title: 'Phiêu Lưu - Mạo Hiểm',
      link: '#',
      child: [],
    },
    {
      title: 'Trinh Thám - Hình Sự',
      link: '#',
      child: [],
    },
    {
      title: 'Truyên Teen - Tuổi Học Trò',
      link: '#',
      child: [],
    },
    {
      title: 'Cổ Tích - Thần Thoại',
      link: '#',
      child: [],
    },
    {
      title: 'Truyện Cười - Tiếu Lâm',
      link: '#',
      child: [],
    },
  ]
  const dataCategory = [
    {
      title: 'Văn học - Tiểu Thuyết',
      link: '#',
      child: dataChild,
    },
    {
      title: 'Kinh Tế - Quản Lý',
      link: '#',
      child: dataChild,
    },
    {
      title: 'Marketing - Bán hàng',
      link: '#',
      child: dataChild,
    },
    {
      title: 'Y Học - Sức Khỏe',
      link: '#',
      child: dataChild,
    },
    {
      title: 'Học Ngoại Ngữ',
      link: '#',
      child: dataChild,
    },
    {
      title: 'Thể Thao - Nghệ Thuật',
      link: '#',
      child: [],
    },
    {
      title: 'Trinh Thám - Hình Sự',
      link: '#',
      child: [],
    },
    {
      title: 'Tâm lý - Kỹ năng sống',
      link: '#',
      child: [],
    },
    {
      title: 'Tử Vi - Phong Thủy',
      link: '#',
      child: [],
    },
    {
      title: 'Văn Hóa - Tôn Giáo',
      link: '#',
      child: [],
    },
    {
      title: 'Lịch Sử - Chính Trị',
      link: '#',
      child: [],
    },
    {
      title: 'Huyền bí - Giả Tưởng',
      link: '#',
      child: [],
    },
    {
      title: 'Thư Viện Pháp Luật',
      link: '#',
      child: [],
    },
    {
      title: 'Tài Liệu Học Tập',
      link: '#',
      child: [],
    },
    {
      title: 'Công Nghệ Thông Tin',
      link: '#',
      child: [],
    },
    {
      title: 'Kiến Trúc - Xây Dựng',
      link: '#',
      child: [],
    },
    {
      title: 'Truyện Tranh',
      link: '#',
      child: [],
    },
  ]