$white: #fff;
$black: #000;
$gray: #8898aa;
$gray-dark: #5e6164;
$gray-transparent: rgba(82, 95, 127, 0.3);

$gray-btn: #959595;

$yellow: #f2c94c;
$red: #E60019;

$green: #3aaf85;
$green-hover: #44CB9A;

$table-row-even: #F8F8F8;
$table-border: #d1d1d1;

$body: #f7f7f7;

$orange: #f2994a;
$orange-dark-transparent: rgba(244, 111, 20, 0.75);
$orange-dark: #f46f14;
$orange-transparent: #FFF8F3;

$primary: #18558e;
$primary-light: #2e82bc;
$primary-dark: #00559f;
$primary-light-transparent: #f3faff;
$primary-transparent: #def0ff;
$primary-hover: #4D9ED7;

$secondary: #f46f14;
$secondary-hover: #FFAD65;

$text-black: #1b1e24;
$text-while: #fff;
$text-gray: #333333;
$text-gray-2: #4f4f4f;

$border-light: #e9ecef;
$border-blue: #99caec;
$border-gray: #8898AA;

$line: #e0e0e0;

$icon-gray: #5E6164;