extends includes/layout/layout-authen.pug
block pages
  include includes/common/data-list-book.pug
  section.section-account-page 
    .container 
      .section-wrapper 
        .row 
          .col-lg-3.pr-0
            include includes/components/desktop-account-sidebar.pug
          .col-lg-9
            include includes/components/desktop-section-result-search.pug
            +DesktopSectionResultSearch('lists', 'Tủ sách yêu thích của bạn')
