doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Demo Giant Book
      
  body 
    h3 Desktop 
    a(href="desktop-index.html" target="_blank") Homepage
    br
    a(href="desktop-book-detail.html" target="_blank") Book Detail
    br
    a(href="desktop-book-detail-video.html" target="_blank") Book Detail Video
    br
    a(href="desktop-book-detail-audio.html" target="_blank") Book Detail Audio
    br
    a(href="desktop-result-search.html" target="_blank") Result Search
    br
    a(href="desktop-favorite-book.html" target="_blank") Tủ sách yêu thích
    br
    a(href="desktop-read-book.html" target="_blank") Sách bạn đã đọc
    br
    a(href="desktop-seen-book-audio.html" target="_blank") Sách Audio bạn đã nghe
    br
    a(href="desktop-seen-book-video.html" target="_blank") Sách Video bạn đã xem
    br
    a(href="desktop-seen-book.html" target="_blank") Sách bạn đã xem
    br
    a(href="desktop-author-detail.html" target="_blank") Author Detail
    br

    h3 Mobile
    a(href="mobile-index.html" target="_blank") Homepage
    br
    a(href="mobile-book-detail.html" target="_blank") Book Detail
    br
    a(href="mobile-book-detail-video.html" target="_blank") Book Detail Video
    br
    a(href="mobile-book-detail-audio.html" target="_blank") Book Detail Audio
    br
    a(href="mobile-result-search.html" target="_blank") Result Search
    br
    a(href="mobile-favorite-book.html" target="_blank") Tủ sách yêu thích
    br
    a(href="mobile-read-book.html" target="_blank") Sách bạn đã đọc
    br
    a(href="mobile-seen-book-audio.html" target="_blank") Sách Audio bạn đã nghe
    br
    a(href="mobile-seen-book-video.html" target="_blank") Sách Video bạn đã xem
    br
    a(href="mobile-seen-book.html" target="_blank") Sách bạn đã xem
    br
    a(href="mobile-author-detail.html" target="_blank") Author Detail
    br