extends includes/layout/layout-mobile.pug
block pages 
  include includes/components/mobile-category.pug
  include includes/common/data-list-book.pug
  section.section-home-page-mobile
    .section-wrapper 
      include includes/components/section-home-banner.pug

      include includes/components/mobile-list-book-slide-half.pug
      +list-video('Sách nổi bật', dataListBookVertical)
      +list-video('Có thể bạn thích sách này', dataListBookVertical)

      include includes/components/mobile-list-book-multiple-column.pug
      +list-mobile('Sách điện tử', './assets/icons/icon-book-mark-gray.svg', dataListBookMobile)
      +list-mobile('Sách nói', './assets/icons/icon-headphone-gray.svg', dataListBookMobile)
      +list-mobile('Video', './assets/icons/icon-film-gray.svg', dataListBookMobile)
  
