mixin list-mobile(title, icon, dataListBook)
  .list-mobile.style-section.list-book-mobile.mobile-list-multiple
    .list-mobile__title.pb-1.d-flex.align-items-center
      img(src=`${icon}` alt="")
      h3.d-inline-block.mb-0=title
      a(href="#") (Xem tất cả)
    .list-mobile__box.pt-4
      .container
        .row
          if dataListBook 
            each item in dataListBook 
              .col-6 
                .item 
                  include book-detail.pug 
                  +BookDetail(item)

          else
            each item in [1,2,3,4,5,6]
              .col-6
                .item 
