.component__pagination 
  .container
    .pagination
      ul.pagination__list.d-flex
        li.pagination__list-btn
          a(href='#')
            img(src="./assets/icons/icon-angle-line-left-gray.svg" alt="")
        li.pagination__list-btn
          a(href='#')
            img(src="./assets/icons/icon-angle-left-gray.svg" alt="")
        li.pagination__list-btn.active
          a(href='#') 1
        li.pagination__list-btn
          a(href='#') 2
        li.pagination__list-btn.bg-none
          a(href='#') 
            img(src="./assets/icons/icon-dots-gray.svg" alt="")
        li.pagination__list-btn
          a(href='#') 29
        li.pagination__list-btn
          a(href='#') 30
        li.pagination__list-btn
          a(href='#')
            img(src="./assets/icons/icon-angle-right-gray.svg" alt="")
        li.pagination__list-btn
          a(href='#')
            img(src="./assets/icons/icon-angle-line-right-gray.svg" alt="")


