.section-author.style-section
  .section-author__info.text-center.mb-2
    .section-author__info-img.mb-3
      img(src="./assets/images/image-sample-avatar.png" alt="author")
    h2.mb-2.font-times-new-roman Brian Tracy
    .section-author__info-type.d-flex.align-items-center.justify-content-center(style="margin: 0 auto 25px;")
      span Nhà văn
  .tab-wrapper.style-2
    ul.tabs-group.d-flex.align-items-center
      li.tab-item.text-center.active 
        p.mb-0 Tiểu sử
      li.tab-item.text-center 
        p.mb-0 Giải thưởng
    ul.tabs-main-group
      li.tab-item.active.see-more-wrapper.author-info-detail
        .see-more-btn
          span Xem thêm
          <svg fill="#8898AA" width="8" height="5" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 2.1L6.4 0.5L4 2.9L1.6 0.5L0 2.1L4 6.1L8 2.1Z"/></svg>
        p
          | Brian Tracy là một tác giả, chuyên gia đào tạo và phát triển cá nhân người Mỹ gốc Canada. Ông là tác giả của hơn 70 cuốn sách nổi tiếng về nhiều lĩnh vực, đặc biệt là kinh tế. Những tác phẩm của ông được dịch ra rất nhiều ngôn ngữ khác nhau, với lượng tiêu thụ “khổng lồ”. Một số tác phẩm tiêu biểu của ông có thể kể đến như:
          br
          | Thuật đàm phán;
          br
          | Thuật hùng biện;
          br
          | Tâm lý học thành công (The Psychology of Achievement);
          br
          | Eat that Frog;
          br
          | Ear What You’re Really Worth…
          br
          | Được biết đến là một con người thành công với tổng giá trị tài sản lên đến 15 triệu USD. Tuy nhiên, ít ai biết được rằng, vị diễn giả nổi tiếng này lại là một đứa trẻ chuyên gây rắc rối xuất thân từ một gia đình nghèo khó. Tất cả những thành tựu trong sự nghiệp Brian Tracy gặt hái được ngày hôm nay đều từ chính những nỗ lực không ngừng nghỉ của ông.
          br
          | Ear What You’re Really Worth…
          br
          | Được biết đến là một con người thành công với tổng giá trị tài sản lên đến 15 triệu USD. Tuy nhiên, ít ai biết được rằng, vị diễn giả nổi tiếng này lại là một đứa trẻ chuyên gây rắc rối xuất thân từ một gia đình nghèo khó. Tất cả những thành tựu trong sự nghiệp Brian Tracy gặt hái được ngày hôm nay đều từ chính những nỗ lực không ngừng nghỉ của ông.
          br
          | Ear What You’re Really Worth…
          br
          | Được biết đến là một con người thành công với tổng giá trị tài sản lên đến 15 triệu USD. Tuy nhiên, ít ai biết được rằng, vị diễn giả nổi tiếng này lại là một đứa trẻ chuyên gây rắc rối xuất thân từ một gia đình nghèo khó. Tất cả những thành tựu trong sự nghiệp Brian Tracy gặt hái được ngày hôm nay đều từ chính những nỗ lực không ngừng nghỉ của ông.
        
      li.tab-item.see-more-wrapper.author-info-detail
        .see-more-btn
          span Xem thêm
          <svg fill="#8898AA" width="8" height="5" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 2.1L6.4 0.5L4 2.9L1.6 0.5L0 2.1L4 6.1L8 2.1Z"/></svg>
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione iste labore doloremque et, est necessitatibus reprehenderit maiores eaque, officiis aliquid nostrum placeat? Magni corrupti dolores et est. Aperiam, nulla maiores?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione iste labore doloremque et, est necessitatibus reprehenderit maiores eaque, officiis aliquid nostrum placeat? Magni corrupti dolores et est. Aperiam, nulla maiores?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione iste labore doloremque et, est necessitatibus reprehenderit maiores eaque, officiis aliquid nostrum placeat? Magni corrupti dolores et est. Aperiam, nulla maiores?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione iste labore doloremque et, est necessitatibus reprehenderit maiores eaque, officiis aliquid nostrum placeat? Magni corrupti dolores et est. Aperiam, nulla maiores?
        