
.book-detail-infomation.style-section 
	h3.title-detail-infomation.mb-0 Thông tin chi tiết
	.detail-infomation
		table 
			<tbody>
				<tr>
					<th>Author</th>
					<td>
						<a href="https://www.gutenberg.org/ebooks/author/38827" rel="marcrel:aut">Kurtz, J. H. (Johann Heinrich), 1809-1890</a>
					</td>
				</tr>
				<tr>
					<th>Translator</th>
					<td>
						<a href="https://www.gutenberg.org/ebooks/author/38614" rel="marcrel:trl">Macpherson, John, 1847-1902</a>
					</td>
				</tr>
				<tr>
					<th>Title</th>
					<td>Church History, Volume 3 (of 3)</td>
				</tr>
				<tr>
					<th>Language</th>
					<td>English</td>
				</tr>
				<tr>
					<th>LoC Class</th>
					<td>
						<a href="https://www.gutenberg.org/browse/loccs/br">BR: Philosophy, Psychology, Religion: Christianity</a>
					</td>
				</tr>
				<tr>
					<th>Subject</th>
					<td>
						<a class="block" href="https://www.gutenberg.org/ebooks/subject/694">Church history</a>
					</td>
				</tr>
				<tr>
					<th>Category</th>
					<td>Text</td>
				</tr>
				<tr>
					<th>EBook-No.</th>
					<td>37404</td>
				</tr>
				<tr>
					<th>Release Date</th>
					<td>Sep 11, 2011</td>
				</tr>
				<tr>
					<th>Copyright Status</th>
					<td>Public domain in the USA.</td>
				</tr>
				<tr>
					<th>Downloads</th>
					<td>32 downloads in th]e last 30 days.</td>
				</tr>
				<tr>
					<th>Price</th>
					<td><span></span><span>$0.00</span><span><a href="http://schema.org/InStock"></a></span></td>
				</tr>
			</tbody>

		//- .row.mr-1.ml-1
		//- 	.col-md-6.boder-bottom-custom.pr-0.pl-0
		//- 		.item-info
		//- 			img(src="./assets/icons/icon-building-gray.svg" alt="" srcset="")
		//- 			p.data.mb-0
		//- 				span NXB:
		//- 				| Nhà xuất bản xây dựng
		//- 	.col-md-6.boder-bottom-custom.pr-0.pl-0
		//- 		.item-info
		//- 			img(src="./assets/icons/icon-language-gray.svg" alt="" srcset="")
		//- 			p.data.mb-0
		//- 				span Kt bìa:
		//- 				| 18x25cm
		//- 	.col-md-6.boder-bottom-custom.pr-0.pl-0
		//- 		.item-info
		//- 			img(src="./assets/icons/icon-national-gray.svg" alt="" srcset="")
		//- 			p.data.mb-0
		//- 				span Người dịch:
		//- 				| Ronaldo
		//- 	.col-md-6.boder-bottom-custom.pr-0.pl-0
		//- 		.item-info
		//- 			img(src="./assets/icons/icon-building-gray.svg" alt="" srcset="")
		//- 			p.data.mb-0
		//- 				span NXB:
		//- 				| Nhà xuất bản xây dựng
		//- 	.col-md-6.boder-bottom-custom.pr-0.pl-0
		//- 		.item-info
		//- 			img(src="./assets/icons/icon-language-gray.svg" alt="" srcset="")
		//- 			p.data.mb-0
		//- 				span Kt bìa:
		//- 				| 18x25cm
		//- 	.col-md-6.boder-bottom-custom.pr-0.pl-0
		//- 		.item-info
		//- 			img(src="./assets/icons/icon-national-gray.svg" alt="" srcset="")
		//- 			p.data.mb-0
		//- 				span Người dịch:
		//- 				| Ronaldo
		//- 	.col-md-6.boder-bottom-custom.pr-0.pl-0
		//- 		.item-info
		//- 			img(src="./assets/icons/icon-building-gray.svg" alt="" srcset="")
		//- 			p.data.mb-0
		//- 				span NXB:
		//- 				| Nhà xuất bản xây dựng
		//- 	.col-md-6.pr-0.pl-0
		//- 		.item-info
		//- 			img(src="./assets/icons/icon-language-gray.svg" alt="" srcset="")
		//- 			p.data.mb-0
		//- 				span Kt bìa:
		//- 				| 18x25cm